{% extends "base.html" %}
{% block title %}Story{% endblock %}
{% block body %}
{% for story in story_list %}
	<dl>
		<dt>
			<form action='/story/delete/{{ story.id }}' method='post'>
				{{ story }}
				{% csrf_token %}
				<a href='/story/update/{{ story.id }}'><img height='16px' width='16px' src='https://raw.githubusercontent.com/tenshiPure/pyweb/master/django/step04/images/edit.png'></a>
				<input id='story_delete_{{ story.id }}' type='image' height='16px' width='16px' src='https://raw.githubusercontent.com/tenshiPure/pyweb/master/django/step04/images/trash.png'>
			</form>
		</dt>
		{% for task in story.sorted_tasks %}
			<dd>
				<form action='/task/delete/{{ task.id }}' method='post'>
					{{ task }}
					{% csrf_token %}
					<a id='task_update_{{ task.id }}' href='/task/update/{{ task.id }}'><img height='16px' width='16px' src='https://raw.githubusercontent.com/tenshiPure/pyweb/master/django/step04/images/edit.png'></a>
					<input id='task_delete_{{ task.id }}' type='image' height='16px' width='16px' src='https://raw.githubusercontent.com/tenshiPure/pyweb/master/django/step04/images/trash.png'>
				</form>
			</dd>
		{% endfor %}
		<dd>
			<a class="btn btn-info" href="/task/create/{{ story.id }}">
                <span class="glyphicon glyphicon-plus"></span>タスク追加
            </a>
		</dd>
	</dl>
	<hr>
{% endfor %}

<a class="btn btn-primary" href="/story/create">
    <span class="glyphicon glyphicon-plus"></span>ストーリー追加
</a>
{% endblock %}